@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card">
    <div class="card-header">
        <h3>Welcome!</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">We are WeFix Garage</h5>
        <p class="card-text">
            We are passionate about Suzukis! Please register for an account or login.
            You can use our site to manage your bookings, vehicles and personal details.
        </p><br /><br />
        <a href="#" class="btn btn-primary">Explore Our Services</a>
    </div>
</div>


