@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card">
    <div class="card-header" style="padding:20px">
        <div style="clear: both">
            <h2 style="float: left">Welcome!</h2>
            <h4 style="float: right">We are WeFix Garage</h4>
        </div>

    </div>
    <div class="card-body" style="text-align:center">
        <br /><br />
        <p class="card-text">
            We are passionate about Suzukis!
        <p>
            Please register for an account or login to
            use our site to manage your bookings, vehicles and personal details.
        </p>
        </p><br /><br />
        <img src="~/homepic.jpeg" style="width: 100%; height: auto; padding-left:80px; padding-right:80px;" />
        <br /><br /><br /><br /><br />
        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Sign up for an account!</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Login and view your bookings</a>
        <br /><br /><br /><br /><br />
    </div>
</div>


