@page
@model WeFix.Pages.Employees.EmployeeIndexModel
@{
}

<h1>Employee Manager</h1>
<p><a class="nav-link text-light" asp-area="" asp-page="/Identity/Account/NewEmployee">Create New Employee Account</a></p>